<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-12">
      <h1>Recipes</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-xs-12">
      <p id="notice"><%= notice %><%= notice = '' %></p>
    </div>
  </div>
  <div class="row justify-content-md-center btn-row">
    <div class="col-lg-8">
      <%= link_to "+ Recipe", new_recipe_path, class: "btn btn-primary float-right" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-8">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td><%= link_to recipe.name, recipe %></td>
            <td><%= recipe.description %></td>
            <td><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %> |
                <%= link_to 'Edit', edit_recipe_path(recipe, id: recipe.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
