<h1>New Ingredient</h1>

  <%= form_for @ingredient do |f| %>
  <%= f.hidden_field :recipe_id, :value => params[:recipe_id] %>
    <p>
      Name: <%= f.text_field :name %>
    </p>
    <p>
      Quantity: <%= f.number_field :quantity %>
    </p>
    <p>
      <%= f.submit 'Create Ingredient', :class => 'btn btn-primary' %>
    </p>
  <% end %>
<%= link_to 'Back', ingredients_path %>
